@import url("https://kit-pro.fontawesome.com/releases/v5.15.3/css/pro.min.css");
.notes-div {
  display: block;
  border: 1px solid white;
  width: 18rem;
  border-radius: 5px;
}

.notes-div div {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

.note-btn {
  background-color: transparent;
  border: none;
  color: paleturquoise;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.notes-div input {
  padding: 0.5rem;
  /*  */
  border-radius: 5px;
  border: 1px solid #d4d5d9;
  /* display: block; */
  /* margin: 1rem; */
  width: 12rem;
}

.Login-notes{
  color: white;
  font-size: large;
  background-color: #080c20;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.Login-notes img{
  color: white;
  height: 18rem;
  max-width: 18rem;
}

.Login-notes button{
  padding: .5rem;
  background-color: transparent;
  color: white;
  font-weight: 800;
  font-size: large ;
  border: 1px solid white;
  border-radius: .4rem;
  cursor: pointer;

}

.Login-notes button:hover{
  padding: .65rem;
  background-color: #080c20;
}


input:focus {
  outline: none;
  border: 2px solid white;
}

.notes-div textarea {
  margin: 0rem 1rem 1rem 1rem;
  border: 1px solid #d4d5d9;
  /* border: 2px solid purple; */
  border-radius: 5px;
  width: 15rem;
  height: 10rem;
  padding: .5rem;
}

textarea:focus {
  outline: none;
  border: 2px solid purple;
}

.saved-note {
  border: 1px solid white;
  width: 18rem;
  border-radius: 5px;
  margin: 1rem 0rem;
  padding: 1rem;
}
.note-header {
  display: flex;
  justify-content: space-between;
}

.note-title {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: paleturquoise;
}

.note-sub {
  font-size: 1.3rem;
  margin: 0.1rem;
}
.note-description {
  font-size: medium;
  color : antiquewhite;
}
