@import url("https://prism-ui.netlify.app/component.css");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("https://kit-pro.fontawesome.com/releases/v5.15.3/css/pro.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

.nav-logo {
  width: 3rem;
  margin: 0.2rem;
  margin-left: 2rem;
}

.nav-box {
  width: 100%;
  position: sticky;
  z-index: 999;
  top: 0;
  height: 3.5rem;
}

.navigation-bar{
  height: 3.5rem;
  width: 80%;
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin: auto;

}

.nav-btn {
  margin: 0px;
}

.main-heading{
  padding: 1rem;
  margin: 0rem 2rem;
  font-weight: bolder;
  font-size: x-large;

}

.search-bar{
  width: 100%;
  padding: .5rem 1rem;
  outline: none;
  /* border: 1px solid #0d1225; */
  background-color: #0d1225;
  color: white;
  outline: none;
  border: none;

}

.login-div{
  outline: none;
  font-size: larger;
}

/* .login-btn{
  padding: .4rem 1.3rem;
  margin: 0rem 1rem;
  outline: none;
  border: none;
  font-size: larger;
  font-weight: 700;

  background-color: #0d1225;
  border-radius: 7px;

} */

.link-btn{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.main {
  margin: 0;
}

.sidebar {
  width: 200px;
  position: fixed;
  height: 100%;
  background-color: #080c20;
  padding: .5rem .8rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* z-index: 10; */
  /* background-color: #f8f8f8; */
}

.main-content {
  padding: 0.5rem;
  margin-left: 200px;
}

.videos-section {

  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width:100%; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* 
.utility-page {
  display: flex;
  flex-direction: column;
} */
/* 
.video-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.btn {
  display: block;
  font-size: 1.2rem;
  align-items: baseline;
  margin: 0.2rem 0rem;
  background-color: white;
}

.btn:hover {
  background-color: #f0f0f0;
}

.btn i {
  margin: 0rem 0.3rem;
}
.menu-bar {
  display: none;
  font-size: 1.5rem;
  align-items: center;
  margin-right: 1.2rem;
  /* float: right; */
}

#menu {
  cursor: pointer;
}

.logout-btn{
  padding: .2rem 0.4rem;
  color: #080c20;
  background-color: transparent;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 700;
}

.logout-btn:hover{
  padding: .3rem .6rem;
}


@media screen and (max-width:1350px) {
  .videos-section {
    grid-template-columns: repeat(3,1fr);

  }
  
}




@media screen and (max-width: 1090px) {
  .sidebar {
    width: 80px;
  }

  .btn {
    /* width: 80px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn span {
    font-size: 0.8rem;
  }

  .main-content {
    margin-left: 100px;
  }
}

@media  screen and (max-width: 920px) {
  .videos-section {
    grid-template-columns: repeat(2,1fr);

  }
  
}

@media screen and (max-width: 750px) {



  .navigation-bar{
    width: 100%;
    justify-content: space-between;
   
  }

  .main-heading{
    padding: .5rem;
    margin: 0rem;
    font-size: 1rem;
  
  }

  .login-div{
    font-size: .9rem;
  }

  .sidebar {
    width: 100%;
    text-align: center;
    left: 100%;
    background-color: #080c20;
    transition: all 0.5s;
    height: 100%;
    z-index: 10;
    display: block;
  }

  .sidebar-left {
    left: 0%;
  }
  .menu-bar {
    display: block;
  }

  .btn {
    width: 100%;
  }
  .btn i {
    display: none;
  }

  .btn span {
    font-size: 1.3rem;
  }

  .main-content {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .videos-section {
    grid-template-columns: repeat(1,1fr);

  }
  
}



/* #menu :checked ~ .sidebar {
  left: 0%;
} */

figure.fixedratio {
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.card {
  max-width: 100rem;
  padding: 0rem;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.h-card {
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
}
.card-content > img {
  margin: 0.3rem;
  box-shadow: none;
  width: 45px;
  height: 45px;
}
.card-description {
  margin: 0.5rem;
}
.card-description > div {
  font-weight: 500;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: min-content;
  line-height: 1.4rem;
}

.sub-title{
  font-weight: 900;
  font-size: larger;
}


.selected {
  font-weight: bold;
  color: red;
}

h1{
  color: white;
}
